<article class="articleScrap">
    <aside class="asideScrap">
        <h2>Little Yang</h2>
        <h3>请叫我"布衣"<h3>
            (Bull And Null)
    </aside>

    <section class="sectionScrap">
        <a href="#"><img src="http://i.imgur.com/4z2JJ.jpg" width="30%" alt="avatar" class="imgScrap" /></a>
        <p>
          从小没学好，现在一直在搞电脑(从事IT工作)/从来自嘲为码农，看看新闻看看图片//累了之后喜欢去大吃一顿，饱饱的睡上一觉//原本以为自己会成为像那些化学家一样的去研究，现在确实个codemonkey//
          每个人的性格里面总是大胆中蕴涵鲁莽，聪明中体现着狡猾，执着中折映坚强//
          //一直从事开源活动,尤其喜欢去吃那种非常辣的火锅//喜欢有山有水的地方.
        <br />
        (´・ω・`)
        </p>
    </section>
</article>
