<article class="articleScrap">
    <aside class="asideScrap">
        <h2>Little Yang</h2>
        <h3>请叫我"布衣"<h3>
            (Bull And Null)
    </aside>

    <section class="sectionScrap">
        <a href="#"><img src="http://i.imgur.com/4z2JJ.jpg" width="30%" alt="avatar" class="imgScrap" /></a>
        <p>
          从小没学好，现在一直在搞电脑(从事IT工作),从来自嘲为码农,闲来看看新闻看看图片,累了之后喜欢去大吃一顿，饱饱的睡上一觉.原本以为自己会成为像那些化学家一样的去从事研究，现在却是个codemonkey.每个人的性格里面总是大胆中蕴涵鲁莽，聪明中体现着狡猾，执着中折映坚强.喜欢去吃那种非常辣的火锅,喜欢有山有水的地方.羡慕那种侠客似的"流浪",总是梦想着有一天会成为"武林高手",自由的去流浪.目前是单身，有个女人愿意不离不弃跟着你去流浪，还真是一个非常幸福的事情。经历过人生的生离死别，才越发觉得幸福之可贵。喜爱自由，无拘无束。
        <br />
        (´・ω・`)
        </p>
    </section>
</article>
