
<!-- You-Get -->
<article class="articleScrap">
    <aside class="asideScrap">
       Redmime
    </aside>

    <section class="sectionScrap">
        <a href="https://github.com/littleyang/redmine" target="_blank"><img src="http://i.imgur.com/Tyfa1.png" width="30%" alt="git" title="You-Get" class="imgScrap" /></a>
        <br />
          A Bug issues tracker and a  flexiable project management web application  which developed using Ruby on Rails framework.</br>
          Here is website<a href="http://www.redmine.org">www.redmine.org</a>
    </section>
</article>

<!-- Python-romkan -->
<article class="articleScrap">
    <aside class="asideScrap">
        Gitlabhq
    </aside>

    <section class="sectionScrap">
        <a href="https://github.com/littleyang/gitlabhq" target="_blank"><img src="http://i.imgur.com/Tyfa1.png" width="30%" alt="git" title="python-romkan" class="imgScrap" /></a>
        <br />
        A web application about Project management and codes hosting that written using Ruby on Rails, is an opensource project<br/>
        Here is the web link<a href="http://gitlab.org">www.gitlab.org</a>
    </section>
</article>

<!-- Horseshit -->
<article class="articleScrap">
    <aside class="asideScrap">
        SeaFile
    </aside>

    <section class="sectionScrap">
        <a href="https://github.com/littleyang/seafile" target="_blank"><img src="http://i.imgur.com/Tyfa1.png" width="30%" alt="git" title="horseshit" class="imgScrap" /></a>
        <br />
        A cloud application whcic you can build your own file save and share,which is developed using Ruby on Rails,Python<br/>
        Hers is website<a href="http://www.littleyang.org/seafile/">www.seafile.com</a>
    </section>
</article>

<!-- Mayuki -->
<article class="articleScrap">
    <aside class="asideScrap">
        Homebrew
    </aside>

    <section class="sectionScrap">
        <a href="https://github.com/littleyang/homebrew" target="_blank"><img src="http://i.imgur.com/Tyfa1.png" width="30%" alt="git" title="Mayuki" class="imgScrap" /></a>
        <br />
        A missing soft package manager for Mac OS written using Ruby<br/>
        Hers is website<a href="http://mxcl.github.com/homebrew">Mac OS homebrew</a>
    </section>
</article>

<!-- google_plus_archiver -->
<article class="articleScrap">
    <aside class="asideScrap">
        google_bootstrap_web_UI
    </aside>

    <section class="sectionScrap">
        <a href="https://github.com/littleyang/google-bootstrap" target="_blank"><img src="http://i.imgur.com/Tyfa1.png" width="30%" alt="git" title="google_plus_archiver" class="imgScrap" /></a>
        <br />
        A web UI some like google UI,which is opensource<br/>
        <a href="http://todc.github.com/google-bootstrap/">Google-bootstrap</a>
    </section>
</article>

<!-- google-translate-cli -->
<article class="articleScrap">
    <aside class="asideScrap">
        Google Translate CLI
    </aside>

    <section class="sectionScrap">
        <a href="https://github.com/littleyang/google-translate-cli" target="_blank"><img src="http://i.imgur.com/Tyfa1.png" width="30%" alt="git" title="google-translate-cli" class="imgScrap" /></a>
        <br />
        Google Translate to serve as a command line tool<br/>
        <a href="http://www.littleyang.org/google-translate-cli/">www.littleyang.org/google-translate-cli</a>
    </section>
</article>

<!-- www.littleyang.org -->
<article class="articleScrap">
    <aside class="asideScrap">
        www.littleyang.org
    </aside>

    <section class="sectionScrap">
        <a href="https://github.com/littleyang/littleyang.github.com" target="_blank"><img src="http://i.imgur.com/Tyfa1.png" width="30%" alt="git" title="www.littleyang.org" class="imgScrap" /></a>
        <br />
        this website itself! written in HTML5/CSS3/JavaScript and built with Jekyll
    </section>
</article>

<!-- cpcat -->
<article class="articleScrap">
    <aside class="asideScrap">
        cpcat
    </aside>

    <section class="sectionScrap">
        <a href="https://github.com/littleyang/cpcat" target="_blank"><img src="http://i.imgur.com/Tyfa1.png" width="30%" alt="git" title="cpcat" class="imgScrap" /></a>
        <br />
        a simple package management, file backup and synchronization script, written in Bash
    </section>
</article>

<!-- MinGW SC -->
<article class="articleScrap">
    <aside class="asideScrap">
        MinGW SC
    </aside>

    <section class="sectionScrap">
        <a href="http://code.google.com/p/mingwsc/" target="_blank"><img src="http://i.imgur.com/Tyfa1.png" width="30%" alt="git" title="MinGW SC" class="imgScrap" /></a>
        <br />
        a MinGW (Minimalist GNU for Windows) "distribution"
    </section>
</article>

<!-- iGaME-GEM -->
<article class="articleScrap">
    <aside class="asideScrap">
         iGaME-GEM
    </aside>

    <section class="sectionScrap">
        <a href="https://github.com/littleyang/iGaME-GEM" target="_blank"><img src="http://i.imgur.com/Tyfa1.png" width="30%" alt="git" title="iGaME-GEM" class="imgScrap" /></a>
        <br />
        an educational web game for synthetic biology, written in JavaScript
    </section>
</article>

<!-- ABCD GUI -->
<article class="articleScrap">
    <aside class="asideScrap">
        ABCD GUI
    </aside>

    <section class="sectionScrap">
        <br />
        <a href="http://2009.igem.org/Team:USTC_Software/Notebook" target="_blank">iGEM 2009 USTC_Software</a> team project: Automatic Biological Circuit Design GUI Editor, written in C++/Qt
    </section>
</article>
